@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container {
  background-color: #4267b2;
  height: 100%;
}
.title {
  /* margin-top: 10px; */
  text-align: center;
  padding: 10px 0;
}
.demo-page {
  /* margin: 0 25%; */
  margin: 0 10px 20px 20px;
  background-color: #f1f5f7;
  border-radius: 10px;
}
.post-cont {
  margin: 0 25%;
  padding: 10px;
  background-color: rgb(244, 238, 238);
  border-radius: 10px;
}
.post {
  background-color: #5b8ef5;
  margin: 15px 5px;
  padding: 10px;
  border-radius: 10px;
}
.post-name {
  color: white;
}
.time {
  font-size: 10px;
  font-weight: 100;
  color: white;
}
.post-title {
  margin: 5px 0;
  color: white;
}
.img {
  width: 80%;
  height: 400px;
  border-radius: 10px;
  margin-left: 55px;
}
.like-comment {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.textarea {
  padding: 5px 0 0 5px;
  border-radius: 10px;
}
.btn {
  padding: 5px;
  background-color: rgb(240, 245, 245);
  color: red;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
.fas {
  color: orange;
}
.fab {
  color: orange;
}
.like {
  color: blue;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
